@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {

    /*---Backgrounds---*/
    --bg: #0b090a;
    --bg-light: #161a1d;
    --bg-red: #ba181b;
    --bg-red-light: #e5383b;
    --bg-logo-red: #f30008;

    /*---Text colors---*/
    --txt-white: #f5f3f4;
    --text-grey: #d3d3d3;
    --text-red: #ba181b;
}



* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*------Header Section-------*/

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 4.6rem;
    background: var(--bg);
    box-shadow: 0 0 6px 2px var(--bg-light);
    position: sticky;
    z-index: 2;
    top: 0;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.nav-item {
    font-size: 21px;
    font-weight: 300;
}

.nav-item a {
    color: var(--txt-white);
}

.nav-item span {
    font-weight: 600;
}


/*------Logo Section-------*/

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15rem;
    background: var(--bg);
}

.logo-container {    
    display: flex;
}

.logo-container img {
    width: 27rem;
    filter: drop-shadow(0px 4px #161a1d);
}

/*-------Hero Section-------*/

#hero {
    display: flex;
    width: 100%;
    height: 50rem;
    background: linear-gradient(to right, #f5f3f4, #d3d3d3);
}

.hero-left-container {
   display: flex;
   flex-direction: column;
   width: 50%;
   align-items: center;
   justify-content: center;
   text-align: center;
   gap: 4rem;
   padding-left: 2rem;
   padding-top: 2rem;
}

.hero-left-container h1 {
    font-size: 38px;
    font-weight: 800;
    background: linear-gradient(to left, #ea1111, #0b090a);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.hero-left-container p {
    font-size: 17px;
    color: var(--bg-light);
    font-weight: 400;
    padding: 0 2rem;
}

.hero-left-container span {
    font-weight: 800;
    background: linear-gradient(to left, #ea1111, #0b090a);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-right-container {
    display: flex;
    padding-left: 3rem;
    filter: drop-shadow(0px 7px #161a1d76);
}


/*-------Banner Section-------*/

#banner {
    width: 100%;
    height: 10rem;
    background: linear-gradient(to right, #f5f3f4, #d3d3d3);
}


.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: var(--bg);
}

.banner-container h2 {
    display: flex;
    background: linear-gradient(to right, #ea1111, #988f94);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;   
}

/* ------- section products ------- */


#products{

}
.banner-container__products {
    background: linear-gradient(to right, #f5f3f4, #d3d3d3);
    padding: 2rem;
    max-width: 120rem;
    margin: 0 auto;
}

.banner-container__title {
    background: linear-gradient(to right, #ea1111, #988f94);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
    text-align: center;
    padding: 2rem 0;
}

/** Grid **/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.products {
    padding: 2rem;
    background: linear-gradient(to left, #ba181b, #e5383b 90%);
    box-shadow: 0px 0px 6px rgba(22, 26, 29, 0.45);
    border-radius: 2px;
}
.products__imagen {
    width: 100%;
    filter: drop-shadow(0px 7px #161a1d76);
}
.products__nombre{
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;
    line-height: 1.2;
    font-weight: 600;
}
/* Button REALIZAR COMPRA */

.products__btn{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*------- Responsive grid -------*/
@media (max-width: 720px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


/*------- Banner 2 Section -------*/

#banner-2 {
    width: 100%;
    height: 10rem;
    background: linear-gradient(to right, #f5f3f4, #d3d3d3);
}

.banner-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background: var(--bg);
}

.banner-2-container h2 {
    display: flex;
    background: linear-gradient(to right, #ea1111, #988f94);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 40px;   
}

/*------ Contact Section-------*/